.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover do card */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Botão normal */
button {
  background: #22c55e;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;

  align-self: center; /* 🔥 centraliza */
}

/* Hover botão */
button:hover {
  background: #16a34a;
}

/* Lista favoritos */
#lista-favoritos {
  list-style: none;
  padding: 0;
}

#lista-favoritos li {
  background: #1e293b;
  margin: 5px auto;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  color: white;
}
